@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins), Arial, Helvetica, sans-serif;

  /* Custom Palette */
  --color-accent: #ff7e1a;
  --color-dark: #303030;
  --color-light: #fff;
}

:root {
  --background: #ffffff;
  --foreground: #303030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}